<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{mail/fragments/head :: head}"></th:block>
<body>

<th:block th:replace="~{mail/fragments/preheader :: preheader}"></th:block>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <section th:replace="~{mail/fragments/header :: header}"></section>

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p><span th:text="#{hi}"/> <strong th:text="${lastName}"/>, <strong th:text="${name}"/>!
                                        </p>

                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0"
                                               class="btn btn-primary">
                                            <tbody>
                                            <tr>
                                                <td align="left">
                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <a th:href="${url}" th:text="#{click_to_your_password_reset}"
                                                                   target="_blank"></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <p th:text="#{if_cant_click_button_use_link_below} + ':'"/>

                                        <p th:text="${url}"/>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <section th:replace="~{mail/fragments/footer :: footer}"></section>

            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>
